@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #0e0d0c;
    --dark: #161718;
    --gold: #e4c590;
    --light: #141515;
    --light2: #121111;
    --transition: 500ms ease;
}

body {
    background-color: var(--dark);
    color: white;
    font-size: .9rem;
    font-family: 'DM Sans', sans-serif;


    .btn {
        background-color: var(--gold);
        padding: 1rem 2.5rem;
        border-radius: 0;
        letter-spacing: 3px;
        color: black;
        font-size: .8rem;
        font-weight: 700;
        position: relative;
        z-index: 1;


        &:before {
            z-index: -1;
            content: '';
            position: absolute;
            background: var(--bg);
            width: 100%;
            height: 0px;
            bottom: 0;
            left: 0;
            transition: var(--transition);

        }

        &:hover {
            border: 1px solid var(--gold);
            color: var(--gold);

            &:before {
                height: 100%;

            }
        }
    }

    .btn-2 {
        background-color: transparent;
        padding: 1rem 2.5rem;
        border-radius: 0;
        letter-spacing: 3px;
        color: var(--gold);
        border: 1px solid var(--gold);
        font-size: .8rem;
        font-weight: 700;
        position: relative;
        z-index: 1;


        &:before {
            z-index: -1;
            content: '';
            position: absolute;
            background: var(--gold);
            width: 100%;
            height: 0px;
            top: 0;
            left: 0;
            transition: var(--transition);

        }

        &:hover {
            color: var(--dark);

            &:before {
                height: 100%;

            }
        }
    }


    .links {
        text-decoration: none;
        color: white;
        font-size: .8rem;
        letter-spacing: 2px;
        position: relative;
        padding-bottom: .5rem;

        &:before {
            content: '';
            position: absolute;
            background: var(--gold);
            width: 0%;
            height: 1px;
            bottom: 0;
            transition: var(--transition);
        }

        &:after {
            content: '';
            position: absolute;
            background: var(--gold);
            width: 0%;
            height: 1px;
            right: 0;
            bottom: -4px;
            transition: var(--transition);
        }

        &:hover {
            color: var(--gold);
            transition: var(--transition);

            &:before {
                width: 100%;
            }

            &::after {
                width: 100%;
            }
        }
    }

    .subheading {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        color: var(--gold);
        text-align: center;
    }

    .main-heading {
        text-align: center;
        font-family: 'Forum', cursive;
        font-size: 6.5rem;
        font-weight: normal;
        line-height: 1;
    }

    .heading {
        text-align: center;
        font-family: 'Forum', cursive;
        font-size: 3.5rem;
        font-weight: normal;
        line-height: 1;
    }

    .heading-1 {
        text-align: center;
        font-family: 'Forum', cursive;
        font-size: 2rem;
        font-weight: normal;
        line-height: 1;
    }

    .para {
        line-height: 2;
        font-size: 1rem;
    }

    .price {
        font-family: 'Forum', cursive;
        color: var(--gold);
        font-size: 1.5rem;

    }

    beforeafter .seperator {
        margin-right: 4px;
        width: 12px;
        height: 12px;
        border: 2px solid var(--gold);
        transform: rotate(45deg);
        animation: rotate360 15s linear infinite;
    }
}


.home {
    background: url(../images/hero-slider-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;

    nav {
        margin-bottom: 5rem;

        .navbar-toggler {
            color: white;

            menu &:focus {
                outline: none;
                box-shadow: none;
            }
        }

    }

    .bi-chevron-right {
        cursor: pointer;
        color: var(--gold);
        font-size: 1.5rem;
        font-weight: 700;
        right: 2%;
        border-radius: 50%;
        border: 1px solid var(--gold);
        padding: .5rem .9rem;
        transition: var(--transition);

        &:hover {
            background-color: var(--gold);
            color: var(--bg);
        }
    }

    .bi-chevron-left {
        cursor: pointer;
        color: var(--gold);
        font-size: 1.5rem;
        font-weight: 700;
        left: 2%;
        border: 1px solid var(--gold);
        border-radius: 50%;
        padding: .5rem .9rem;
        transition: var(--transition);

        &:hover {
            background-color: var(--gold);
            color: var(--bg);
        }
    }

    .book {
        right: 0;
        z-index: 1;
        background-color: var(--gold);
        display: inline-block;
        padding: .8rem 1.5rem 0 1.5rem;

        .book-inner {
            top: 0;
            left: 0;
            padding: 3.5rem 3.5rem 3.9rem 3.5rem;
            border: 1px solid var(--gold);
            z-index: -1;
            animation: rotate360 15s linear infinite;
        }

    }
}

.offer {
    padding: 6rem 0;
    background-color: var(--bg);
    z-index: 1;

    .bg-1 {
        top: 0;
        right: 0;
        z-index: -1;
        animation: moveup2 4s linear infinite;
    }

    .bg-2 {
        bottom: 0;
        z-index: -1;
        animation: moveup2 4s linear infinite;
    }

    .cards {
        margin-top: 7rem;

        .service-card {


            .service {

                .service-img {
                    cursor: pointer;
                    transition: var(--transition);


                    &:hover {
                        transform: scale(1.07);
                    }
                }
            }

        }

        .heading-1 {
            margin-top: 4rem;
        }

        .links {
            color: var(--gold);
        }
    }


}

.story {
    padding: 10rem 0;
    background-color: var(--dark);

    .story-left {

        .heading-1 {
            color: var(--gold);
        }
    }

    .story-right {

        .circle {
            top: -12%;
            right: 0;

            &:before {
                content: url(../images/badge-2-bg.png);
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0;
                animation: rotate360 15s linear infinite;

            }

        }

        .image-3 {
            left: -10%;
            bottom: -20%;
        }
    }
}

.dish {
    background-color: var(--bg);

    .dish-left {
        background: url(../images/special-dish-banner.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 15rem 0;
    }

    .dish-right {
        padding: 7rem 3rem 7rem 3rem;

        .subheading,
        .heading,
        .para {
            text-align: left;
        }

        .less {
            color: grey;
        }

        .more {
            color: var(--gold);
            font-size: 1.5rem;
        }


        .label-div {

            .label {
                left: 0;
                margin-left: -3rem;
                animation: moveup 3s linear infinite;
            }
        }

    }
}

.menu {
    padding: 6rem 0;
    background-color: var(--dark);
    z-index: 1;
    overflow: hidden;

    .bg-3 {
        top: 0;
        left: -10%;
        z-index: -1;
        animation: moveup2 4s linear infinite;
    }

    .bg-4 {
        right: 0;
        bottom: -10%;
        z-index: -1;
        animation: moveup2 4s linear infinite;
    }

    .menu-1,
    .menu-2,
    .menu-3 {


        &:hover {

            .menu-item {
                transition: var(--transition);
                color: var(--gold);
            }

            .menu-left {

                img {
                    transition: var(--transition);
                    transform: scale(1.1);
                    cursor: pointer;
                }

            }


        }
    }

    .menu-list-1 {
        padding: 0 5rem 0 0;
        border-right: 1px solid rgba(255, 255, 255, 0.262);
    }

    .menu-list-2 {
        padding: 0 0 0 5rem;
    }

    .menu-right {
        z-index: 1;

        .menu-item {
            background-color: var(--dark);
            font-family: 'Forum', cursive;
            font-size: 2rem;
            font-weight: normal;
            font-size: 1.4rem;
            cursor: pointer;
            border-right: 15px solid var(--dark);

        }

        .menu-item-1 {

            &:before {
                content: 'SEASONAL';
                background: var(--gold);
                padding: 0 10px;
                font-size: .9rem;
                color: var(--dark);
                position: absolute;
                top: 5px;
                left: 110%;
                border-right: 15px solid var(--dark);
            }
        }

        .menu-item-2 {

            &:before {
                content: 'NEW';
                background: var(--gold);
                padding: 0 10px;
                font-size: .9rem;
                color: var(--dark);
                position: absolute;
                top: 5px;
                left: 110%;
                border-right: 15px solid var(--dark);
            }
        }

        .para {
            font-size: .9rem;
            color: gray;
            line-height: 1.5;
        }

        .price {
            background-color: var(--dark);
            border-left: 15px solid var(--dark);
        }

        &:before {
            content: '';
            position: absolute;
            background-color: #e4c5906f;
            width: 100%;
            height: 1px;
            top: 15%;
            z-index: -1;
        }
    }

}

.testimonials {
    padding: 6rem 0;
    background: url(../images/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .test-2 {

        width: 100%;
        left: 0;
        right: 0;
    }

    .test-line {
        line-height: 1.5;
        font-size: 2.5rem;
    }


}

.online {
    padding: 0 0 6rem 0;
    background-color: var(--dark);

    .online2 {
        background-color: var(--bg);

        .online-left {
            padding: 3rem;

            input,
            textarea,
            select {
                margin-bottom: 20px;
                background-color: var(--dark);
                padding: 15px 10px;
                border-radius: 0;
                color: white;
                resize: none;
                border: 1px solid rgba(128, 128, 128, 0.297);
                color-scheme: dark;

                &::placeholder {
                    color: white;
                }

                &:focus {
                    box-shadow: none;
                    border: 1px solid var(--gold);
                    transition: var(--transition);
                }

            }

            .form-select {
                background-image: url(../images/download.svg);
                background-color: var(--dark);
            }

            .btn {
                width: 100%;
            }
        }

        .online-right {
            background: url(../images/form-pattern.png);
            background-size: contain;
            padding: 3rem;

            .text {
                color: rgb(174, 174, 174);
                line-height: 1.5;
            }

        }
    }

}

.choose {
    padding: 6rem 0;

    .heading-1 {
        font-size: 1.5rem;
    }

    .para {
        color: rgb(174, 174, 174);
        font-size: .9rem;
        line-height: 1.5;
    }

    .skill {
        padding: 30px 10px;
        cursor: pointer;

        &:hover {

            img {
                transition: 600ms ease;
                transform: scale(-1) rotate(180deg);
            }
        }
    }

    .skill-1 {
        background-color: var(--light);
    }

    .skill-2 {
        background-color: var(--light2);
    }
}

.blog {
    padding: 6rem 0;
    background-color: var(--bg);

    .blogs {
        transition: var(--transition);
        cursor: pointer;
        overflow: hidden;
        background: linear-gradient(white, black);

        &:before {
            content: '';
            position: absolute;
            background: linear-gradient(to right, transparent 0%, #fff6 100%);
            width: 110px;
            height: 180%;
            z-index: 1;
            transform: rotate(45deg);
            top: -40%;
            left: -100%;
        }

        img {
            background-color: var(--dark);
            mix-blend-mode: multiply;
            transition: var(--transition);

        }

        &:hover {
            transition: var(--transition);

            img {
                transform: scale(1.07);
            }

            &:before {
                left: 135%;
                transition: var(--transition);
            }

        }


    }

    .para {
        color: var(--gold);
        font-size: .8rem;
        letter-spacing: 2px;
        font-weight: 700;
        top: 3%;
        left: 3%;
        background-color: #080808;
        padding: 2px 12px 0px 12px;
    }

    .inner-text {
        bottom: 0;

        .heading-1 {
            font-size: 1.5rem;
        }
    }


}

.footer {
    background: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0;

    li {
        list-style: none;
        margin-bottom: 2rem;
        text-align: center;
    }

    .links {
        color: #a6a6a6;
        cursor: pointer;
    }

    .heading-1 {
        color: var(--gold);
    }

    .para {
        color: #a6a6a6;
        line-height: 1;
    }

    .footer-list {
        padding: 5rem 0;
    }

    input[type="text"] {
        background-color: var(--dark);
        padding: 15px 10px;
        border-radius: 0;
        color: white;
        border: 1px solid rgba(128, 128, 128, 0.297);
    }

    .footer-form {
        padding: 4rem 2rem;
        background: url(../images/footer-form-bg.png), var(--bg);

        &:before {
            content: '';
            background: url(../images/footer-form-pattern.svg);
            position: absolute;
            width: 15px;
            height: 100%;
            left: 0;
            top: 0;
        }

        &:after {
            content: '';
            background: url(../images/footer-form-pattern.svg);
            position: absolute;
            width: 15px;
            height: 100%;
            right: 0;
            top: 0;
        }
    }

    .copyright {
        margin: 4rem 4rem -4rem 4rem;
        letter-spacing: 1.5px;
        line-height: 2;
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes moveup {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes moveup2 {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes menuBtn {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0.5);
    }
}


@media screen and (max-width: 991.98px) {

    .menu {

        .menu-list-1 {
            padding: 0;
            border-right: none;
        }

        .menu-list-2 {
            padding: 0;
        }
    }


}

@media screen and (max-width: 850px) {

    .home {

        .header {
            display: none;
        }

        hr {
            display: none;
        }

        .main-heading {
            font-size: 4.5rem;
        }
    }

}

@media screen and (max-width: 776px) {

    .blog {

        .blogs {
            .inner-text {
                padding-bottom: 0px !important;
            }

            .heading-1 {
                font-size: 20px;
            }
        }


    }

}

@media screen and (max-width: 580px) {

    .footer {

        .footer-form {

            &:before {
                display: none;
            }

            &:after {
                display: none;
            }
        }
    }

}

@media screen and (max-width: 577px) {

    .blog {

        .blogs {
            .inner-text {
                padding-bottom: 1rem !important;
            }

            .heading-1 {
                font-size: 24px;
            }
        }


    }

}

@media screen and (max-width: 615px) {

    .home {

        #arrow-left {
            display: none;
        }

        #arrow-right {
            display: none;
        }
    }

}

@media screen and (max-width: 440px) {

    .home {

        .main-heading {
            font-size: 4rem;
        }
    }

}

@media screen and (max-width: 430px) {

    .menu {

        .menu-item-1,
        .menu-item-2 {
            &::before {
                display: none;
            }
        }


    }

}

@media screen and (max-width: 400px) {

    .home {

        .main-heading {
            font-size: 3.5rem;
        }
    }

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gold);
}